@import './normalize.css';

.market {
  &__goods {
    display: flex;
    flex-direction: column;
  }
  &__product {
    display: flex;
    width: 100%;
    height: 100px;

    &-logo {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &-name {
      font-size: 14px;
      line-height: 22px;
    }
    &-price {
      font-size: 18px;
      line-height: 32px;
      font-weight: 500;
      color: red;
    }
  }
}
